@import 'bourbon';
@import 'neat';

$tablet: new-breakpoint(min-width 768px);
$desktop: new-breakpoint(min-width 1024px);

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.page-header {
  text-align: center;
}

.card {
  margin: 0 auto 50px;
  @include media($desktop) {
    float: left;
    margin: 0 1% 20px;
    width: 48%;
  }
}

.card-body {
  border: 1px solid black;
}

.card-header {
  border: 2px solid black;
  border-width: 2px 2px 0;
  color: white;
  padding: 20px;
  @include clearfix();

  .dems & {
    background: blue;
  }

  .repubs & {
    background: red;
  }
}

.card-title {
  float: left;
  margin: 0;
}

.card-controls {
  float: right;
}

.row {
  @include display(flex);
}

.bingo-square {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  width: 20%;
  @include align-items(center);
  @include display(flex);

  @include media($tablet) {
    font-size: 16px;
    height: 100px;
  }

  &.free,
  &.selected {
    background: grey;
    color: white;
  }

  span {
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.page-footer {
  text-align: center;
}
